pmml-pretty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.dmg.org/PMML-3_0" elementFormDefault="unqualified" targetNamespace="http://www.dmg.org/PMML-3_0">
  <xs:complexType mixed="true" name="ArrayType">
    <xs:attribute name="n" type="INT-NUMBER" use="optional"/>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="int"/>
          <xs:enumeration value="real"/>
          <xs:enumeration value="string"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="Aggregate">
    <xs:complexType>
      <xs:attribute name="field" type="FIELD-NAME" use="required"/>
      <xs:attribute name="function" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="average"/>
            <xs:enumeration value="count"/>
            <xs:enumeration value="max"/>
            <xs:enumeration value="min"/>
            <xs:enumeration value="multiset"/>
            <xs:enumeration value="sum"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="groupField" type="FIELD-NAME"/>
      <xs:attribute name="sqlWhere" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Annotation" type="xs:string"/>
  <xs:element name="AntecedentSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="SEQUENCE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Application">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="version" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Apply">
    <xs:complexType>
      <xs:attribute name="function" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:group maxOccurs="unbounded" minOccurs="0" ref="EXPRESSION"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Array" type="ArrayType"/>
  <xs:element name="AssociationModel">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string"/>
      <xs:attribute name="avgNumberOfItemsPerTA" type="REAL-NUMBER"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="lengthLimit" type="INT-NUMBER"/>
      <xs:attribute name="maxNumberOfItemsPerTA" type="INT-NUMBER"/>
      <xs:attribute name="minimumConfidence" type="PROB-NUMBER" use="required"/>
      <xs:attribute name="minimumSupport" type="PROB-NUMBER" use="required"/>
      <xs:attribute name="modelName" type="xs:string"/>
      <xs:attribute name="numberOfItems" type="INT-NUMBER" use="required"/>
      <xs:attribute name="numberOfItemsets" type="INT-NUMBER" use="required"/>
      <xs:attribute name="numberOfRules" type="INT-NUMBER" use="required"/>
      <xs:attribute name="numberOfTransactions" type="INT-NUMBER" use="required"/>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="AssociationRule"/>
          <xs:element ref="Itemset"/>
        </xs:choice>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Item"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="MiningSchema"/>
        <xs:element minOccurs="0" ref="ModelStats"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociationRule">
    <xs:complexType>
      <xs:attribute name="antecedent" type="xs:string" use="required"/>
      <xs:attribute name="confidence" type="PROB-NUMBER" use="required"/>
      <xs:attribute name="consequent" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="optional"/>
      <xs:attribute name="lift" type="xs:float" use="optional"/>
      <xs:attribute name="support" type="PROB-NUMBER" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BayesInput">
    <xs:complexType>
      <xs:attribute name="fieldName" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element minOccurs="0" ref="DerivedField"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="PairCounts"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BayesInputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="BayesInput"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BayesOutput">
    <xs:complexType>
      <xs:attribute name="fieldName" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element ref="TargetValueCounts"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoricalPredictor">
    <xs:complexType>
      <xs:attribute name="coefficient" type="REAL-NUMBER" use="required"/>
      <xs:attribute name="name" type="FIELD-NAME" use="required"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CenterFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="DerivedField"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChildParent">
    <xs:complexType>
      <xs:attribute name="childField" type="xs:string" use="required"/>
      <xs:attribute default="no" name="isRecursive" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="no"/>
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="parentField" type="xs:string" use="required"/>
      <xs:attribute name="parentLevelField" type="xs:string" use="optional"/>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="InlineTable"/>
          <xs:element ref="TableLocator"/>
        </xs:choice>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cluster">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="optional"/>
      <xs:attribute name="size" type="xs:nonNegativeInteger" use="optional"/>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Covariances"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="KohonenMap"/>
        <xs:element minOccurs="0" ref="Partition"/>
        <xs:group minOccurs="0" ref="NUM-ARRAY"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClusteringField">
    <xs:complexType>
      <xs:attribute name="compareFunction" type="COMPARE-FUNCTION" use="optional"/>
      <xs:attribute name="field" type="FIELD-NAME" use="required"/>
      <xs:attribute name="fieldWeight" type="REAL-NUMBER" use="optional"/>
      <xs:attribute name="similarityScale" type="REAL-NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Comparisons"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClusteringModel">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string" use="optional"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="modelClass" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="centerBased"/>
            <xs:enumeration value="distributionBased"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="modelName" type="xs:string" use="optional"/>
      <xs:attribute name="numberOfClusters" type="INT-NUMBER" use="required"/>
      <xs:sequence>
        <xs:element minOccurs="0" ref="CenterFields"/>
        <xs:element maxOccurs="unbounded" ref="Cluster"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ClusteringField"/>
        <xs:element ref="ComparisonMeasure"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="MiningSchema"/>
        <xs:element minOccurs="0" ref="MissingValueWeights"/>
        <xs:element minOccurs="0" ref="ModelStats"/>
        <xs:element minOccurs="0" ref="ModelVerification"/>
        <xs:element minOccurs="0" ref="Output"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Coefficient">
    <xs:complexType>
      <xs:attribute default="0" name="value" type="REAL-NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Coefficients">
    <xs:complexType>
      <xs:attribute default="0" name="absoluteValue" type="REAL-NUMBER" use="optional"/>
      <xs:attribute name="numberOfCoefficients" type="INT-NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Coefficient"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComparisonMeasure">
    <xs:complexType>
      <xs:attribute name="compareFunction" type="COMPARE-FUNCTION" use="optional"/>
      <xs:attribute name="kind" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="distance"/>
            <xs:enumeration value="similarity"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="maximum" type="NUMBER" use="optional"/>
      <xs:attribute name="minimum" type="NUMBER" use="optional"/>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="binarySimilarity"/>
          <xs:element ref="chebychev"/>
          <xs:element ref="cityBlock"/>
          <xs:element ref="euclidean"/>
          <xs:element ref="jaccard"/>
          <xs:element ref="minkowski"/>
          <xs:element ref="simpleMatching"/>
          <xs:element ref="squaredEuclidean"/>
          <xs:element ref="tanimoto"/>
        </xs:choice>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comparisons">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element ref="Matrix"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompoundPredicate">
    <xs:complexType>
      <xs:attribute name="booleanOperator" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="and"/>
            <xs:enumeration value="or"/>
            <xs:enumeration value="surrogate"/>
            <xs:enumeration value="xor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:sequence maxOccurs="unbounded" minOccurs="2">
          <xs:group ref="PREDICATE"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompoundRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:group ref="PREDICATE"/>
        <xs:group maxOccurs="unbounded" minOccurs="1" ref="Rule"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Con">
    <xs:complexType>
      <xs:attribute name="from" type="NN-NEURON-IDREF" use="required"/>
      <xs:attribute name="weight" type="REAL-NUMBER" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsequentSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="SEQUENCE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Constant" type="xs:anyType"/>
  <xs:element name="ContStats">
    <xs:complexType>
      <xs:attribute name="totalSquaresSum" type="NUMBER"/>
      <xs:attribute name="totalValuesSum" type="NUMBER"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Interval"/>
        <xs:group minOccurs="0" ref="INT-ARRAY"/>
        <xs:group maxOccurs="2" minOccurs="0" ref="NUM-ARRAY"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Counts">
    <xs:complexType>
      <xs:attribute name="invalidFreq" type="xs:nonNegativeInteger"/>
      <xs:attribute name="missingFreq" type="xs:nonNegativeInteger"/>
      <xs:attribute name="totalFreq" type="xs:nonNegativeInteger" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Covariances">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element ref="Matrix"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CovariateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Predictor"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataDictionary">
    <xs:complexType>
      <xs:attribute name="numberOfFields" type="xs:nonNegativeInteger"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="DataField"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Taxonomy"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataField">
    <xs:complexType>
      <xs:attribute name="dataType" type="DATATYPE"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute default="0" name="isCyclic">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="name" type="FIELD-NAME" use="required"/>
      <xs:attribute name="optype" type="OPTYPE" use="required"/>
      <xs:attribute name="taxonomy" type="xs:string"/>
      <xs:sequence>
        <xs:choice>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="Interval"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="Value"/>
        </xs:choice>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecisionTree">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="modelName" type="xs:string"/>
      <xs:attribute default="multiSplit" name="splitCharacteristic">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="binarySplit"/>
            <xs:enumeration value="multiSplit"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="Node"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ResultField"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefineFunction">
    <xs:complexType>
      <xs:attribute name="dataType" type="DATATYPE"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="optype" type="OPTYPE"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="ParameterField"/>
        <xs:group ref="EXPRESSION"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delimiter">
    <xs:complexType>
      <xs:attribute name="delimiter" type="DELIMITER" use="required"/>
      <xs:attribute name="gap" type="GAP" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DerivedField">
    <xs:complexType>
      <xs:attribute name="dataType" type="DATATYPE" use="required"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="name" type="FIELD-NAME"/>
      <xs:attribute name="optype" type="OPTYPE" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Interval"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Value"/>
        <xs:group ref="EXPRESSION"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscrStats">
    <xs:complexType>
      <xs:attribute name="modalValue" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="2" minOccurs="0" ref="Array"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Discretize">
    <xs:complexType>
      <xs:attribute name="defaultValue" type="xs:string"/>
      <xs:attribute name="field" type="FIELD-NAME" use="required"/>
      <xs:attribute name="mapMissingTo" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="DiscretizeBin"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscretizeBin">
    <xs:complexType>
      <xs:attribute name="binValue" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element ref="Interval"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentTermMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element ref="Matrix"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Extension">
    <xs:complexType>
      <xs:complexContent mixed="true">
        <xs:restriction base="xs:anyType">
          <xs:attribute name="extender" type="xs:string" use="optional"/>
          <xs:attribute name="name" type="xs:string" use="optional"/>
          <xs:attribute name="value" type="xs:string" use="optional"/>
          <xs:sequence>
            <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="FactorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Predictor"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="False">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FieldColumnPair">
    <xs:complexType>
      <xs:attribute name="column" type="xs:string" use="required"/>
      <xs:attribute name="field" type="FIELD-NAME" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FieldRef">
    <xs:complexType>
      <xs:attribute name="field" type="FIELD-NAME" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneralRegressionModel">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="modelName" type="xs:string"/>
      <xs:attribute name="modelType" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="generalLinear"/>
            <xs:enumeration value="multinomialLogistic"/>
            <xs:enumeration value="regression"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="targetVariableName" type="FIELD-NAME"/>
      <xs:sequence>
        <xs:element minOccurs="0" ref="CovariateList"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="FactorList"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="MiningSchema"/>
        <xs:element minOccurs="0" ref="ModelStats"/>
        <xs:element minOccurs="0" ref="ModelVerification"/>
        <xs:element minOccurs="0" ref="Output"/>
        <xs:element minOccurs="0" ref="PCovMatrix"/>
        <xs:element minOccurs="0" ref="PPMatrix"/>
        <xs:element ref="ParamMatrix"/>
        <xs:element ref="ParameterList"/>
        <xs:element minOccurs="0" ref="Targets"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Header">
    <xs:complexType>
      <xs:attribute name="copyright" type="xs:string" use="required"/>
      <xs:attribute name="description" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Annotation"/>
        <xs:element minOccurs="0" ref="Application"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="Timestamp"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INT-SparseArray">
    <xs:complexType>
      <xs:attribute default="0" name="defaultValue" type="INT-NUMBER" use="optional"/>
      <xs:attribute name="n" type="INT-NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element minOccurs="0" name="Entries">
          <xs:simpleType>
            <xs:list itemType="xs:int"/>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Indices">
          <xs:simpleType>
            <xs:list itemType="xs:int"/>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InlineTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="row"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Interval">
    <xs:complexType>
      <xs:attribute name="closure" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="closedClosed"/>
            <xs:enumeration value="closedOpen"/>
            <xs:enumeration value="openClosed"/>
            <xs:enumeration value="openOpen"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="leftMargin" type="NUMBER"/>
      <xs:attribute name="rightMargin" type="NUMBER"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="mappedValue" type="xs:string"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
      <xs:attribute name="weight" type="REAL-NUMBER"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemRef">
    <xs:complexType>
      <xs:attribute name="itemRef" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Itemset">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="numberOfItems" type="xs:nonNegativeInteger"/>
      <xs:attribute name="support" type="PROB-NUMBER"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ItemRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KohonenMap">
    <xs:complexType>
      <xs:attribute name="coord1" type="xs:float" use="optional"/>
      <xs:attribute name="coord2" type="xs:float" use="optional"/>
      <xs:attribute name="coord3" type="xs:float" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinearKernelType">
    <xs:complexType>
      <xs:attribute name="description" type="xs:string" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinearNorm">
    <xs:complexType>
      <xs:attribute name="norm" type="NUMBER" use="required"/>
      <xs:attribute name="orig" type="NUMBER" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocalTransformations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="DerivedField"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MapValues">
    <xs:complexType>
      <xs:attribute name="defaultValue" type="xs:string"/>
      <xs:attribute name="mapMissingTo" type="xs:string"/>
      <xs:attribute name="outputColumn" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="InlineTable"/>
          <xs:element ref="TableLocator"/>
        </xs:choice>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="FieldColumnPair"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatCell">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="col" type="INT-NUMBER" use="required"/>
          <xs:attribute name="row" type="INT-NUMBER" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Matrix">
    <xs:complexType>
      <xs:attribute name="diagDefault" type="REAL-NUMBER" use="optional"/>
      <xs:attribute default="any" name="kind" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="any"/>
            <xs:enumeration value="diagonal"/>
            <xs:enumeration value="symmetric"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nbCols" type="INT-NUMBER" use="optional"/>
      <xs:attribute name="nbRows" type="INT-NUMBER" use="optional"/>
      <xs:attribute name="offDiagDefault" type="REAL-NUMBER" use="optional"/>
      <xs:choice minOccurs="0">
        <xs:element maxOccurs="unbounded" ref="MatCell"/>
        <xs:group maxOccurs="unbounded" ref="NUM-ARRAY"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="MiningBuildTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MiningField">
    <xs:complexType>
      <xs:attribute name="highValue" type="NUMBER"/>
      <xs:attribute name="importance" type="PROB-NUMBER"/>
      <xs:attribute name="lowValue" type="NUMBER"/>
      <xs:attribute name="missingValueReplacement" type="xs:string"/>
      <xs:attribute name="missingValueTreatment" type="MISSING-VALUE-TREATMENT-METHOD"/>
      <xs:attribute name="name" type="FIELD-NAME" use="required"/>
      <xs:attribute name="optype" type="OPTYPE"/>
      <xs:attribute default="asIs" name="outliers" type="OUTLIER-TREATMENT-METHOD"/>
      <xs:attribute default="active" name="usageType" type="FIELD-USAGE-TYPE"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MiningModel">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string" use="optional"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="modelName" type="xs:string" use="optional"/>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="DecisionTree"/>
          <xs:element ref="Regression"/>
        </xs:choice>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="MiningSchema"/>
        <xs:element minOccurs="0" ref="ModelStats"/>
        <xs:element minOccurs="0" ref="ModelVerification"/>
        <xs:element minOccurs="0" ref="Output"/>
        <xs:element minOccurs="0" ref="Targets"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MiningSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="MiningField"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MissingValueWeights">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:group ref="NUM-ARRAY"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="UnivariateStats"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelVerification">
    <xs:complexType>
      <xs:attribute name="fieldCount" type="INT-NUMBER" use="optional"/>
      <xs:attribute name="recordCount" type="INT-NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element ref="InlineTable"/>
        <xs:element ref="VerificationFields"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NaiveBayesModel">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="modelName" type="xs:string"/>
      <xs:attribute name="threshold" type="REAL-NUMBER" use="required"/>
      <xs:sequence>
        <xs:element ref="BayesInputs"/>
        <xs:element ref="BayesOutput"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="MiningSchema"/>
        <xs:element minOccurs="0" ref="ModelStats"/>
        <xs:element minOccurs="0" ref="ModelVerification"/>
        <xs:element minOccurs="0" ref="Output"/>
        <xs:element minOccurs="0" ref="Targets"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeuralInput">
    <xs:complexType>
      <xs:attribute name="id" type="NN-NEURON-ID" use="required"/>
      <xs:sequence>
        <xs:element ref="DerivedField"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeuralInputs">
    <xs:complexType>
      <xs:attribute name="numberOfInputs" type="xs:nonNegativeInteger"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="NeuralInput"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeuralLayer">
    <xs:complexType>
      <xs:attribute name="activationFunction" type="ACTIVATION-FUNCTION"/>
      <xs:attribute name="altitude" type="REAL-NUMBER"/>
      <xs:attribute name="normalizationMethod" type="NN-NORMALIZATION-METHOD"/>
      <xs:attribute name="numberOfNeurons" type="xs:nonNegativeInteger"/>
      <xs:attribute name="threshold" type="REAL-NUMBER"/>
      <xs:attribute name="width" type="REAL-NUMBER"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="Neuron"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeuralNetwork">
    <xs:complexType>
      <xs:attribute name="activationFunction" type="ACTIVATION-FUNCTION" use="required"/>
      <xs:attribute name="algorithmName" type="xs:string"/>
      <xs:attribute default="1.0" name="altitude" type="REAL-NUMBER"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="modelName" type="xs:string"/>
      <xs:attribute default="none" name="normalizationMethod" type="NN-NORMALIZATION-METHOD"/>
      <xs:attribute name="numberOfLayers" type="xs:nonNegativeInteger"/>
      <xs:attribute default="0" name="threshold" type="REAL-NUMBER"/>
      <xs:attribute name="width" type="REAL-NUMBER"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="MiningSchema"/>
        <xs:element minOccurs="0" ref="ModelStats"/>
        <xs:element minOccurs="0" ref="ModelVerification"/>
        <xs:element ref="NeuralInputs"/>
        <xs:element maxOccurs="unbounded" ref="NeuralLayer"/>
        <xs:element minOccurs="0" ref="NeuralOutputs"/>
        <xs:element minOccurs="0" ref="Output"/>
        <xs:element minOccurs="0" ref="Targets"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeuralOutput">
    <xs:complexType>
      <xs:attribute name="outputNeuron" type="NN-NEURON-IDREF" use="required"/>
      <xs:sequence>
        <xs:element ref="DerivedField"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeuralOutputs">
    <xs:complexType>
      <xs:attribute name="numberOfOutputs" type="xs:nonNegativeInteger"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="NeuralOutput"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Neuron">
    <xs:complexType>
      <xs:attribute name="bias" type="REAL-NUMBER"/>
      <xs:attribute name="id" type="NN-NEURON-ID" use="required"/>
      <xs:attribute name="width" type="REAL-NUMBER"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Con"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Node">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="recordCount" type="NUMBER"/>
      <xs:attribute name="score" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:choice>
          <xs:group ref="EmbeddedModel"/>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="Node"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="ScoreDistribution"/>
          </xs:sequence>
        </xs:choice>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:group ref="PREDICATE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NormContinuous">
    <xs:complexType>
      <xs:attribute name="field" type="FIELD-NAME" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="2" ref="LinearNorm"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NormDiscrete">
    <xs:complexType>
      <xs:attribute name="field" type="FIELD-NAME" use="required"/>
      <xs:attribute name="mapMissingTo" type="xs:string"/>
      <xs:attribute fixed="indicator" name="method">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="indicator"/>
            <xs:enumeration value="thermometer"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumericInfo">
    <xs:complexType>
      <xs:attribute name="interQuartileRange" type="NUMBER"/>
      <xs:attribute name="maximum" type="NUMBER"/>
      <xs:attribute name="mean" type="NUMBER"/>
      <xs:attribute name="median" type="NUMBER"/>
      <xs:attribute name="minimum" type="NUMBER"/>
      <xs:attribute name="standardDeviation" type="NUMBER"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Quantile"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumericPredictor">
    <xs:complexType>
      <xs:attribute name="coefficient" type="REAL-NUMBER" use="required"/>
      <xs:attribute default="1" name="exponent" type="INT-NUMBER"/>
      <xs:attribute name="name" type="FIELD-NAME" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Output">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="OutputField"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutputField">
    <xs:complexType>
      <xs:attribute name="dataType" type="DATATYPE"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="feature" type="RESULT-FEATURE"/>
      <xs:attribute name="name" type="FIELD-NAME" use="required"/>
      <xs:attribute name="optype" type="OPTYPE"/>
      <xs:attribute name="targetField" type="FIELD-NAME" use="required"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCell">
    <xs:complexType>
      <xs:attribute name="beta" type="REAL-NUMBER" use="required"/>
      <xs:attribute name="df" type="INT-NUMBER"/>
      <xs:attribute name="parameterName" type="xs:string" use="required"/>
      <xs:attribute name="targetCategory" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCovCell">
    <xs:complexType>
      <xs:attribute name="pCol" type="xs:string" use="required"/>
      <xs:attribute name="pRow" type="xs:string" use="required"/>
      <xs:attribute name="tCol" type="xs:string"/>
      <xs:attribute name="tRow" type="xs:string"/>
      <xs:attribute name="targetCategory" type="xs:string"/>
      <xs:attribute name="value" type="REAL-NUMBER" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCovMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="PCovCell"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PMML">
    <xs:complexType>
      <xs:attribute name="version" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element ref="DataDictionary"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element ref="Header"/>
        <xs:element minOccurs="0" ref="MiningBuildTask"/>
        <xs:element minOccurs="0" ref="TransformationDictionary"/>
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:choice>
            <xs:element ref="AssociationModel"/>
            <xs:element ref="ClusteringModel"/>
            <xs:element ref="GeneralRegressionModel"/>
            <xs:element ref="MiningModel"/>
            <xs:element ref="NaiveBayesModel"/>
            <xs:element ref="NeuralNetwork"/>
            <xs:element ref="RegressionModel"/>
            <xs:element ref="RuleSetModel"/>
            <xs:element ref="SequenceModel"/>
            <xs:element ref="SupportVectorMachineModel"/>
            <xs:element ref="TextModel"/>
            <xs:element ref="TreeModel"/>
          </xs:choice>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PPCell">
    <xs:complexType>
      <xs:attribute name="parameterName" type="xs:string" use="required"/>
      <xs:attribute name="predictorName" type="FIELD-NAME" use="required"/>
      <xs:attribute name="targetCategory" type="xs:string"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PPMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="PPCell"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PairCounts">
    <xs:complexType>
      <xs:attribute name="value" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element ref="TargetValueCounts"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParamMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="PCell"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parameter">
    <xs:complexType>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParameterField">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="optype" type="OPTYPE" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParameterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="Parameter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Partition">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="size" type="xs:nonNegativeInteger"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="PartitionFieldStats"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartitionFieldStats">
    <xs:complexType>
      <xs:attribute name="field" type="FIELD-NAME" use="required"/>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Counts"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="NumericInfo"/>
        <xs:group minOccurs="0" ref="INT-ARRAY"/>
        <xs:group maxOccurs="2" minOccurs="0" ref="NUM-ARRAY"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolynomialKernelType">
    <xs:complexType>
      <xs:attribute default="1" name="coef0" type="REAL-NUMBER" use="optional"/>
      <xs:attribute default="1" name="degree" type="REAL-NUMBER" use="optional"/>
      <xs:attribute name="description" type="xs:string" use="optional"/>
      <xs:attribute default="1" name="gamma" type="REAL-NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Predictor">
    <xs:complexType>
      <xs:attribute name="name" type="FIELD-NAME" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PredictorTerm">
    <xs:complexType>
      <xs:attribute name="coefficient" type="REAL-NUMBER" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="FieldRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Quantile">
    <xs:complexType>
      <xs:attribute name="quantileLimit" type="PERCENTAGE-NUMBER" use="required"/>
      <xs:attribute name="quantileValue" type="NUMBER" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REAL-SparseArray">
    <xs:complexType>
      <xs:attribute default="0" name="defaultValue" type="REAL-NUMBER" use="optional"/>
      <xs:attribute name="n" type="INT-NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element minOccurs="0" name="Entries">
          <xs:simpleType>
            <xs:list itemType="xs:double"/>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Indices">
          <xs:simpleType>
            <xs:list itemType="xs:int"/>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RadialBasisKernelType">
    <xs:complexType>
      <xs:attribute name="description" type="xs:string" use="optional"/>
      <xs:attribute default="1" name="gamma" type="REAL-NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Regression">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="modelName" type="xs:string"/>
      <xs:attribute default="none" name="normalizationMethod" type="REGRESSIONNORMALIZATIONMETHOD"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element maxOccurs="unbounded" ref="RegressionTable"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ResultField"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegressionModel">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="modelName" type="xs:string"/>
      <xs:attribute name="modelType" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="linearRegression"/>
            <xs:enumeration value="logisticRegression"/>
            <xs:enumeration value="stepwisePolynomialRegression"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="none" name="normalizationMethod" type="REGRESSIONNORMALIZATIONMETHOD"/>
      <xs:attribute name="targetFieldName" type="FIELD-NAME" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="MiningSchema"/>
        <xs:element minOccurs="0" ref="ModelStats"/>
        <xs:element minOccurs="0" ref="ModelVerification"/>
        <xs:element minOccurs="0" ref="Output"/>
        <xs:element maxOccurs="unbounded" ref="RegressionTable"/>
        <xs:element minOccurs="0" ref="Targets"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegressionTable">
    <xs:complexType>
      <xs:attribute name="intercept" type="REAL-NUMBER" use="required"/>
      <xs:attribute name="targetCategory" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="CategoricalPredictor"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="NumericPredictor"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="PredictorTerm"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResultField">
    <xs:complexType>
      <xs:attribute name="dataType" type="DATATYPE"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="feature" type="RESULT-FEATURE"/>
      <xs:attribute name="name" type="FIELD-NAME" use="required"/>
      <xs:attribute name="optype" type="OPTYPE"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RuleSelectionMethod">
    <xs:complexType>
      <xs:attribute name="criterion" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="firstHit"/>
            <xs:enumeration value="weightedMax"/>
            <xs:enumeration value="weightedSum"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RuleSet">
    <xs:complexType>
      <xs:attribute name="defaultConfidence" type="NUMBER" use="optional"/>
      <xs:attribute name="defaultScore" type="xs:string" use="optional"/>
      <xs:attribute name="nbCorrect" type="NUMBER" use="optional"/>
      <xs:attribute name="recordCount" type="NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="RuleSelectionMethod"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ScoreDistribution"/>
        <xs:group maxOccurs="unbounded" minOccurs="0" ref="Rule"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RuleSetModel">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string" use="optional"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="modelName" type="xs:string" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="MiningSchema"/>
        <xs:element minOccurs="0" ref="ModelStats"/>
        <xs:element minOccurs="0" ref="ModelVerification"/>
        <xs:element minOccurs="0" ref="Output"/>
        <xs:element ref="RuleSet"/>
        <xs:element minOccurs="0" ref="Targets"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScoreDistribution">
    <xs:complexType>
      <xs:attribute name="recordCount" type="NUMBER" use="required"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResult">
    <xs:complexType>
      <xs:attribute name="feature" type="RESULT-FEATURE"/>
      <xs:attribute name="field" type="FIELD-NAME"/>
      <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sequence">
    <xs:complexType>
      <xs:attribute name="id" type="ELEMENT-ID" use="required"/>
      <xs:attribute name="numberOfSets" type="INT-NUMBER"/>
      <xs:attribute name="occurrence" type="INT-NUMBER"/>
      <xs:attribute name="support" type="REAL-NUMBER"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element ref="SetReference"/>
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:group ref="FOLLOW-SET"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SequenceModel">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string"/>
      <xs:attribute name="avgNumberOfItemsPerTransaction" type="REAL-NUMBER"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="lengthLimit" type="INT-NUMBER"/>
      <xs:attribute name="maxNumberOfItemsPerTransaction" type="INT-NUMBER"/>
      <xs:attribute name="maximumTime" type="INT-NUMBER"/>
      <xs:attribute name="minimumConfidence" type="REAL-NUMBER" use="required"/>
      <xs:attribute name="minimumSupport" type="REAL-NUMBER" use="required"/>
      <xs:attribute name="minimumTime" type="INT-NUMBER"/>
      <xs:attribute name="modelName" type="xs:string"/>
      <xs:attribute name="numberOfItems" type="INT-NUMBER" use="required"/>
      <xs:attribute name="numberOfRules" type="INT-NUMBER" use="required"/>
      <xs:attribute name="numberOfSequences" type="INT-NUMBER" use="required"/>
      <xs:attribute name="numberOfSets" type="INT-NUMBER" use="required"/>
      <xs:attribute name="numberOfTransactions" type="INT-NUMBER" use="required"/>
      <xs:attribute name="timeWindowWidth" type="INT-NUMBER"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Item"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Itemset"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="MiningSchema"/>
        <xs:element minOccurs="0" ref="ModelStats"/>
        <xs:element maxOccurs="unbounded" ref="Sequence"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="SequenceRule"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="SetPredicate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SequenceReference">
    <xs:complexType>
      <xs:attribute name="seqId" type="ELEMENT-ID" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SequenceRule">
    <xs:complexType>
      <xs:attribute name="confidence" type="REAL-NUMBER" use="required"/>
      <xs:attribute name="id" type="ELEMENT-ID" use="required"/>
      <xs:attribute name="numberOfSets" type="INT-NUMBER" use="required"/>
      <xs:attribute name="occurrence" type="INT-NUMBER" use="required"/>
      <xs:attribute name="support" type="REAL-NUMBER" use="required"/>
      <xs:sequence>
        <xs:element ref="AntecedentSequence"/>
        <xs:element ref="ConsequentSequence"/>
        <xs:element ref="Delimiter"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Time"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPredicate">
    <xs:complexType>
      <xs:attribute name="field" type="FIELD-NAME" use="required"/>
      <xs:attribute name="id" type="ELEMENT-ID" use="required"/>
      <xs:attribute fixed="supersetOf" name="operator" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:group ref="STRING-ARRAY"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReference">
    <xs:complexType>
      <xs:attribute name="setId" type="ELEMENT-ID" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SigmoidKernelType">
    <xs:complexType>
      <xs:attribute default="1" name="coef0" type="REAL-NUMBER" use="optional"/>
      <xs:attribute name="description" type="xs:string" use="optional"/>
      <xs:attribute default="1" name="gamma" type="REAL-NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimplePredicate">
    <xs:complexType>
      <xs:attribute name="field" type="FIELD-NAME" use="required"/>
      <xs:attribute name="operator" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="equal"/>
            <xs:enumeration value="greaterOrEqual"/>
            <xs:enumeration value="greaterThan"/>
            <xs:enumeration value="isMissing"/>
            <xs:enumeration value="isNotMissing"/>
            <xs:enumeration value="lessOrEqual"/>
            <xs:enumeration value="lessThan"/>
            <xs:enumeration value="notEqual"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimpleRule">
    <xs:complexType>
      <xs:attribute name="confidence" type="NUMBER" use="optional"/>
      <xs:attribute name="id" type="xs:string" use="optional"/>
      <xs:attribute name="nbCorrect" type="NUMBER" use="optional"/>
      <xs:attribute name="recordCount" type="NUMBER" use="optional"/>
      <xs:attribute name="score" type="xs:string" use="required"/>
      <xs:attribute name="weight" type="NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ScoreDistribution"/>
        <xs:group ref="PREDICATE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimpleSetPredicate">
    <xs:complexType>
      <xs:attribute name="booleanOperator" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="isIn"/>
            <xs:enumeration value="isNotIn"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="field" type="FIELD-NAME" use="required"/>
      <xs:sequence>
        <xs:element ref="Array"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupportVector">
    <xs:complexType>
      <xs:attribute name="vectorId" type="VECTOR-ID" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupportVectorMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Coefficients"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="SupportVectors"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupportVectorMachineModel">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string" use="optional"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="modelName" type="xs:string" use="optional"/>
      <xs:attribute default="SupportVectors" name="svmRepresentation" type="SVM-REPRESENTATION" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="MiningSchema"/>
        <xs:element minOccurs="0" ref="ModelStats"/>
        <xs:element minOccurs="0" ref="ModelVerification"/>
        <xs:element minOccurs="0" ref="Output"/>
        <xs:element ref="SupportVectorMachine"/>
        <xs:element minOccurs="0" ref="Targets"/>
        <xs:element minOccurs="0" ref="VectorDictionary"/>
        <xs:sequence>
          <xs:choice>
            <xs:element ref="LinearKernelType"/>
            <xs:element ref="PolynomialKernelType"/>
            <xs:element ref="RadialBasisKernelType"/>
            <xs:element ref="SigmoidKernelType"/>
          </xs:choice>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupportVectors">
    <xs:complexType>
      <xs:attribute name="numberOfAttributes" type="INT-NUMBER" use="optional"/>
      <xs:attribute name="numberOfSupportVectors" type="INT-NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="SupportVector"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TableLocator">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Target">
    <xs:complexType>
      <xs:attribute name="castInteger">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ceiling"/>
            <xs:enumeration value="floor"/>
            <xs:enumeration value="round"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="field" type="FIELD-NAME" use="required"/>
      <xs:attribute name="optype" type="OPTYPE"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="TargetValue"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TargetValue">
    <xs:complexType>
      <xs:attribute name="defaultValue" type="NUMBER"/>
      <xs:attribute name="priorProbability" type="PROB-NUMBER"/>
      <xs:attribute name="rawDataValue" type="xs:string"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TargetValueCount">
    <xs:complexType>
      <xs:attribute name="count" type="REAL-NUMBER" use="required"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TargetValueCounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="TargetValueCount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Targets">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="Target"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Taxonomy">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ChildParent"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TextCorpus">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="TextDocument"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TextDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="Taxonomy"/>
        <xs:group ref="STRING-ARRAY"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TextDocument">
    <xs:complexType>
      <xs:attribute name="file" type="xs:string" use="optional"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="length" type="INT-NUMBER" use="optional"/>
      <xs:attribute name="name" type="xs:string" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TextModel">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="modelName" type="xs:string"/>
      <xs:attribute name="numberOfDocuments" type="xs:integer" use="required"/>
      <xs:attribute name="numberOfTerms" type="xs:integer" use="required"/>
      <xs:sequence>
        <xs:element ref="DocumentTermMatrix"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="MiningSchema"/>
        <xs:element minOccurs="0" ref="ModelStats"/>
        <xs:element minOccurs="0" ref="ModelVerification"/>
        <xs:element minOccurs="0" ref="Output"/>
        <xs:element minOccurs="0" ref="Targets"/>
        <xs:element ref="TextCorpus"/>
        <xs:element ref="TextDictionary"/>
        <xs:element minOccurs="0" ref="TextModelNormalization"/>
        <xs:element minOccurs="0" ref="TextModelSimiliarity"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TextModelNormalization">
    <xs:complexType>
      <xs:attribute default="none" name="documentNormalization">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="cosine"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="inverseDocumentFrequency" name="globalTermWeights">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="GFIDF"/>
            <xs:enumeration value="inverseDocumentFrequency"/>
            <xs:enumeration value="none"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="probabilisticInverse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="termFrequency" name="localTermWeights">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="augmentedNormalizedTermFrequency"/>
            <xs:enumeration value="binary"/>
            <xs:enumeration value="logarithmic"/>
            <xs:enumeration value="termFrequency"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TextModelSimiliarity">
    <xs:complexType>
      <xs:attribute name="similarityType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="cosine"/>
            <xs:enumeration value="euclidean"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Time">
    <xs:complexType>
      <xs:attribute name="max" type="NUMBER" use="required"/>
      <xs:attribute name="mean" type="NUMBER"/>
      <xs:attribute name="min" type="NUMBER" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Timestamp" type="xs:string"/>
  <xs:element name="TransformationDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="DefineFunction"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="DerivedField"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TreeModel">
    <xs:complexType>
      <xs:attribute name="algorithmName" type="xs:string"/>
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
      <xs:attribute name="modelName" type="xs:string"/>
      <xs:attribute default="multiSplit" name="splitCharacteristic">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="binarySplit"/>
            <xs:enumeration value="multiSplit"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="LocalTransformations"/>
        <xs:element ref="MiningSchema"/>
        <xs:element minOccurs="0" ref="ModelStats"/>
        <xs:element minOccurs="0" ref="ModelVerification"/>
        <xs:element ref="Node"/>
        <xs:element minOccurs="0" ref="Output"/>
        <xs:element minOccurs="0" ref="Targets"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="True">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnivariateStats">
    <xs:complexType>
      <xs:attribute name="field" type="FIELD-NAME"/>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ContStats"/>
        <xs:element minOccurs="0" ref="Counts"/>
        <xs:element minOccurs="0" ref="DiscrStats"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element minOccurs="0" ref="NumericInfo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Value">
    <xs:complexType>
      <xs:attribute name="displayValue" type="xs:string"/>
      <xs:attribute default="valid" name="property">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="invalid"/>
            <xs:enumeration value="missing"/>
            <xs:enumeration value="valid"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" type="xs:string" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VectorDictionary">
    <xs:complexType>
      <xs:attribute name="numberOfVectors" type="INT-NUMBER" use="optional"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="VectorInstance"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VectorInstance">
    <xs:complexType>
      <xs:attribute name="id" type="VECTOR-ID" use="required"/>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="REAL-SparseArray"/>
          <xs:group ref="REAL-ARRAY"/>
        </xs:choice>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificationField">
    <xs:complexType>
      <xs:attribute name="column" type="xs:string" use="optional"/>
      <xs:attribute name="field" type="xs:string" use="required"/>
      <xs:attribute default="1E-6" name="precision" type="xs:double"/>
      <xs:attribute default="1E-16" name="zeroThreshold" type="xs:double"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificationFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
        <xs:element maxOccurs="unbounded" ref="VerificationField"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="binarySimilarity">
    <xs:complexType>
      <xs:attribute name="c00-parameter" type="NUMBER" use="required"/>
      <xs:attribute name="c01-parameter" type="NUMBER" use="required"/>
      <xs:attribute name="c10-parameter" type="NUMBER" use="required"/>
      <xs:attribute name="c11-parameter" type="NUMBER" use="required"/>
      <xs:attribute name="d00-parameter" type="NUMBER" use="required"/>
      <xs:attribute name="d01-parameter" type="NUMBER" use="required"/>
      <xs:attribute name="d10-parameter" type="NUMBER" use="required"/>
      <xs:attribute name="d11-parameter" type="NUMBER" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chebychev">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cityBlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="euclidean">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jaccard">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="minkowski">
    <xs:complexType>
      <xs:attribute name="p-parameter" type="NUMBER" use="required"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="row">
    <xs:complexType>
      <xs:complexContent mixed="true">
        <xs:restriction base="xs:anyType">
          <xs:sequence>
            <xs:any maxOccurs="unbounded" minOccurs="2" processContents="skip"/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="simpleMatching">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="squaredEuclidean">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tanimoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="EXPRESSION">
    <xs:choice>
      <xs:element ref="Aggregate"/>
      <xs:element ref="Apply"/>
      <xs:element ref="Constant"/>
      <xs:element ref="Discretize"/>
      <xs:element ref="FieldRef"/>
      <xs:element ref="MapValues"/>
      <xs:element ref="NormContinuous"/>
      <xs:element ref="NormDiscrete"/>
    </xs:choice>
  </xs:group>
  <xs:group name="EmbeddedModel">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="DecisionTree"/>
        <xs:element ref="Regression"/>
      </xs:choice>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="FOLLOW-SET">
    <xs:sequence>
      <xs:element ref="Delimiter"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      <xs:element ref="SetReference"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="INT-ARRAY">
    <xs:choice>
      <xs:element ref="Array"/>
    </xs:choice>
  </xs:group>
  <xs:group name="NUM-ARRAY">
    <xs:choice>
      <xs:element ref="Array"/>
    </xs:choice>
  </xs:group>
  <xs:group name="PREDICATE">
    <xs:choice>
      <xs:element ref="CompoundPredicate"/>
      <xs:element ref="False"/>
      <xs:element ref="SimplePredicate"/>
      <xs:element ref="SimpleSetPredicate"/>
      <xs:element ref="True"/>
    </xs:choice>
  </xs:group>
  <xs:group name="REAL-ARRAY">
    <xs:choice>
      <xs:element ref="Array"/>
    </xs:choice>
  </xs:group>
  <xs:group name="Rule">
    <xs:choice>
      <xs:element ref="CompoundRule"/>
      <xs:element ref="SimpleRule"/>
    </xs:choice>
  </xs:group>
  <xs:group name="SEQUENCE">
    <xs:sequence>
      <xs:element ref="SequenceReference"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="Time"/>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Extension"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  <xs:group name="STRING-ARRAY">
    <xs:choice>
      <xs:element ref="Array"/>
    </xs:choice>
  </xs:group>
  <xs:simpleType name="ACTIVATION-FUNCTION">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Elliott"/>
      <xs:enumeration value="Gauss"/>
      <xs:enumeration value="arctan"/>
      <xs:enumeration value="cosine"/>
      <xs:enumeration value="exponential"/>
      <xs:enumeration value="identity"/>
      <xs:enumeration value="logistic"/>
      <xs:enumeration value="radialBasis"/>
      <xs:enumeration value="reciprocal"/>
      <xs:enumeration value="sine"/>
      <xs:enumeration value="square"/>
      <xs:enumeration value="tanh"/>
      <xs:enumeration value="threshold"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="COMPARE-FUNCTION">
    <xs:restriction base="xs:string">
      <xs:enumeration value="absDiff"/>
      <xs:enumeration value="delta"/>
      <xs:enumeration value="equal"/>
      <xs:enumeration value="gaussSim"/>
      <xs:enumeration value="table"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DATATYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="boolean"/>
      <xs:enumeration value="date"/>
      <xs:enumeration value="dateDaysSince[0]"/>
      <xs:enumeration value="dateDaysSince[1960]"/>
      <xs:enumeration value="dateDaysSince[1970]"/>
      <xs:enumeration value="dateDaysSince[1980]"/>
      <xs:enumeration value="dateTime"/>
      <xs:enumeration value="dateTimeSecondsSince[0]"/>
      <xs:enumeration value="dateTimeSecondsSince[1960]"/>
      <xs:enumeration value="dateTimeSecondsSince[1970]"/>
      <xs:enumeration value="dateTimeSecondsSince[1980]"/>
      <xs:enumeration value="double"/>
      <xs:enumeration value="float"/>
      <xs:enumeration value="integer"/>
      <xs:enumeration value="string"/>
      <xs:enumeration value="time"/>
      <xs:enumeration value="timeSeconds"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DELIMITER">
    <xs:restriction base="xs:string">
      <xs:enumeration value="acrossTimeWindows"/>
      <xs:enumeration value="sameTimeWindow"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ELEMENT-ID">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="FIELD-NAME">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="FIELD-USAGE-TYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active"/>
      <xs:enumeration value="group"/>
      <xs:enumeration value="order"/>
      <xs:enumeration value="predicted"/>
      <xs:enumeration value="supplementary"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GAP">
    <xs:restriction base="xs:string">
      <xs:enumeration value="false"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="INT-NUMBER">
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:simpleType name="MINING-FUNCTION">
    <xs:restriction base="xs:string">
      <xs:enumeration value="associationRules"/>
      <xs:enumeration value="classification"/>
      <xs:enumeration value="clustering"/>
      <xs:enumeration value="regression"/>
      <xs:enumeration value="sequences"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MISSING-VALUE-TREATMENT-METHOD">
    <xs:restriction base="xs:string">
      <xs:enumeration value="asIs"/>
      <xs:enumeration value="asMean"/>
      <xs:enumeration value="asMedian"/>
      <xs:enumeration value="asMode"/>
      <xs:enumeration value="asValue"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NN-NEURON-ID">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="NN-NEURON-IDREF">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="NN-NORMALIZATION-METHOD">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="simplemax"/>
      <xs:enumeration value="softmax"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NUMBER">
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:simpleType name="OPTYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="categorical"/>
      <xs:enumeration value="continuous"/>
      <xs:enumeration value="ordinal"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OUTLIER-TREATMENT-METHOD">
    <xs:restriction base="xs:string">
      <xs:enumeration value="asExtremeValues"/>
      <xs:enumeration value="asIs"/>
      <xs:enumeration value="asMissingValues"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PERCENTAGE-NUMBER">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="PROB-NUMBER">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="REAL-NUMBER">
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:simpleType name="REGRESSIONNORMALIZATIONMETHOD">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cloglog"/>
      <xs:enumeration value="exp"/>
      <xs:enumeration value="logit"/>
      <xs:enumeration value="none"/>
      <xs:enumeration value="probit"/>
      <xs:enumeration value="simplemax"/>
      <xs:enumeration value="softmax"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RESULT-FEATURE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="clusterAffinity"/>
      <xs:enumeration value="clusterId"/>
      <xs:enumeration value="predictedDisplayValue"/>
      <xs:enumeration value="predictedValue"/>
      <xs:enumeration value="probability"/>
      <xs:enumeration value="residual"/>
      <xs:enumeration value="standardError"/>
      <xs:enumeration value="warning"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SVM-REPRESENTATION">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Coefficients"/>
      <xs:enumeration value="SupportVectors"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VECTOR-ID">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
</xs:schema>
